@import "tailwindcss";
@import "./../fonts/estedad/index.css";

@theme {
  --font-estedad: "Estedad";

  --breakpoint-*:initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}

body {
  @apply  font-estedad;
}

