@import "tailwindcss";
@import "./../fonts/estedad/index.css";
@theme {
  --font-estedad: "Estedad";

  --breakpoint-*:initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  @apply  font-estedad bg-[#FAFAFA];
}



@utility container {
  @apply w-[95%]! mx-auto md:w-full 
}