@import "tailwindcss";
@import "./../fonts/estedad/index.css";
@theme {
  --font-estedad: "Estedad";

  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  @apply font-estedad bg-[#FAFAFA] **:font-estedad;
}

@utility container {
  @apply w-[95%]! mx-auto md:w-full;
}

label {
  @apply relative text-xs select-none text-zinc-500 font-estedad! after:content-[':'];

  & + input {
    @apply duration-150 transition-all px-4;
  }

  & + input:focus {
    @apply ring-4 ring-sky-500/20;
  }

  &:hover + input {
    @apply ring-4 ring-sky-500/10;
  }
}

input {
  @apply outline-none! px-4 **:font-estedad! font-estedad! placeholder:text-[13px]!;
}

button {
  @apply cursor-pointer;
}

.ag-cell {
  @apply flex! items-center! gap-2! **:flex! **:items-center! **:gap-2!;
}

canvas {
  @apply font-estedad! **:font-estedad!
}