@font-face {
    font-family: 'Estedad';
    src: url('./Estedad-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Estedad';
    src: url('./Estedad-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }